{% extends "base.html" %}

{% block content %}

  <style>
    
    

    body {
      color: #000;
      overflow-x: hidden;
      height: 100%;
      background-image: url("https://i.imgur.com/GMmCQHC.png");
      background-attachment: fixed;
      background-repeat:repeat;
      background-size: 100% 100%;
    }

    .card {
      padding: 30px 40px;
      margin-top: 60px;
      margin-bottom: 60px;
      border: none !important;
      box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2);
    }

    .blue-text {
      color: #00BCD4;
    }

    .form-control-label {
      margin-bottom: 0;
    }

    button {
      padding: 8px 15px;
      border-radius: 5px !important;
      margin: 5px 0px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      font-size: 18px !important;
      font-weight: 300;
    }

    
   

  .login-box {
  position: absolute;
  top: 52%;
  left: 49%;
  width: 580px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(24, 20, 20, 0.987);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box textarea{
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #bdb8b8;
  font-size: 12px;
}

.login-box .user-box textarea:focus ~ label,
.login-box .user-box textarea:valid ~ label {

  top: -20px;
  left: 0;
  color: #bdb8b8;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #03f40f;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03f40f,
              0 0 25px #03f40f,
              0 0 50px #03f40f,
              0 0 100px #03f40f;
}

.login-box a span {
  position: absolute;
  display: block;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(1) {
  bottom: 2px;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03f40f);
  animation: btn-anim1 2s linear infinite;
}
.abcbutton {
  border: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: white;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

  </style>

  <!-- ################################################################# -->

  <div class="login-box">
 
    <form method="post">
      {{ form.hidden_tag() }}

      <div class="user-box">
        {{form.title()}}
        <label>Blog Title</label>
      </div>

      <div class="user-box">
        <br>
        {{form.text(style="width: 400px; height: 100px;")}}
        <!-- <textarea required="" name="" type="text" style="width: 300px; height: 100px;"></textarea> -->
        <label >Your BLOG</label>
       
      </div>


     
      
      <center>
        <a href="#">
          
          {{ form.submit(class='abcbutton') }}
          <span>
            
          </span>
          
        </a>
      </center>
    </form>
  </div>
{% endblock content %}
